/* ▼ WHERE YOUR CODE BEGINS */

*{
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.line-button{
    position: relative;
    font-size: 16px;
    line-height: 1.25;
    border: none;
    padding: 18px 30px;
    background-color: white;
    border-bottom: 3px white solid;
    cursor: pointer;
    
}





button,
input,
textarea{
    font-family: 'Lato',sans-serif;

}


.line-button::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: blue;
    left: 0;
    bottom: 0;
}

.line-button:hover::after{
    
    width: 100%;
    transition: width 250ms ease-out;
}

