* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: #E5E5E5;
    margin: 200px 200px;
}

.container {
    display: block;
    width: 1160px;
    height: 695px;
    background-color: white;
    display: flex;
    justify-content: center;



}

.product-desc {
    font-size: 15px;
}

.main-image img {
    width: 514px;
    height: 447px;

}

.product {
    display: flex;
}


.product-image-viewer {
    margin: 36px 53px;
}

.view-item,
.selected img {
    width: 60px;
    height: 60px;

}



.view-list {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    list-style: none;
    padding-right: 80px;
}

.product-content {
    margin: 40px 40px 40px 6px;


}

.product-header h1 {
    font-size: 36px;
    line-height: 1.333333333333333;

}



.icon-cart,
.icon-star-inactive,
.icon-star-active {
    width: 15px;
    height: 14.06px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
}

.icon-star-active {
    background-image: url("./assets/icon-star-active.svg");
}

.icon-star-inactive {
    background-image: url("./assets/icon-star-muted.svg");
}

.icon-cart {
    background-image: url("./assets/icon-cart.svg");
}

.rate dt {

    display: flex;
    justify-content: space-between;
}


.rate dd {
    font-size: 14px;
    color: #969696;
    line-height: 1.142857142857143;
    padding-left: 4.5px;

}



.orders dd {
    font-size: 14px;
    color: #00B517;
    line-height: 1.142857142857143;



}

.orders {

    display: flex;

}

.product-misc {
    display: flex;
    margin-top: 12px;

}

.rate {
    width: 180px;
    display: flex;

}

/* .product-price */
.product-price {
    /*  strong만 할땐 되는데 .product-price 입히면 안됨 */
    margin-top: 21px;

    display: block;
    font-size: 24px;

    line-height: 1.333333333333333;
}

.product-desc {
    color: #545454;
    margin-top: 24px;
}

.product-detail {
    color: #545454;
    font-size: 15px;
    line-height: 1.466666666666667;
    margin-top: 20px;
    /* width: 500px;
    height: 38px; */
}

.product-detail div:nth-child(1) {
    display: flex;
    background-color: #F7F7F7;
}

.product-detail div:nth-child(2) {
    display: flex;

}

.product-detail div:nth-child(3) {
    display: flex;
    background-color: #F7F7F7;
}